# Test Report

## Summary

- Regression tests: total 1, success 1, fail 0
- Open issues: total 0, success 0, fail 0

## What we are testing

Package versions under test:

- NUnit=4.4.0
- NUnit3TestAdapter=6.0.1-alpha.3

## Regression tests (closed issues)

- Total: 1, Success: 1, Fail: 0

| Issue | Test | Conclusion |
| --- | --- | --- |
| ✅ #1332 | success | Success: No regression failure |

